@import "./header.css";
@import "./intro.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout{
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas:
    "hd"
    "mn"
    "ft";
}
main{
    grid-area: mn;
        
    padding: 5px;
    text-align: center;
}
.footer{
    grid-area: ft;
    
    text-align: center;
}   
@media screen and (max-width: 425px) {
    .layout{
        grid-template-rows: 100px auto 80px;
    }
}