header{
    grid-area: hd;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.nav{
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 22px;
}
@media screen and (max-width: 425px) {
    header{
        flex-direction: column;
 }
}